@model string

@{
    ViewData["Title"] = "Home Page";
}

<br/><br/>

<div class="container">
    
    <div class="jumbotron">
        <h1>Home</h1>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">@Model</h3>
        </div>
        <div class="panel-body">
            environment
        </div>
        <div class="panel-footer"> ofgem 2019 </div>
    </div>

</div>

